# Variables de entorno existentes
.env

# Entorno virtual existente
env/

# Datos locales existentes de PostgreSQL
indupedidos_base/

# Cachés de Python existentes
myapp/myapp/__pycache__/
myapp/producto/__pycache__/
myapp/producto/migrations/__pycache__/

# Imágenes de productos
myapp/media/producto/
